<div class="blog-post" id="{{ blogPost.getId }}">
    <div>
        <div class="blog-post-title">
            {{ blogPost.getTitle}}
        </div>
        <div class="blog-post-content">
            {{ blogPost.getContent }}
        </div>
        <div class="info">
            <div>Category: <a href={{ path("category_list", {name: blogPost.getCategory.getName}) }}>{{ blogPost.getCategory.getName}}</a></div>
            <div>{{ blogPost.getPublicationDate.getDate|date("d/m/Y") }}</div>
        </div>
    </div>
</div>