{% if pages %}
<div class="page-navigation">
    {% if currentPage != 1 %}
        <button onclick="window.location.href='/import-picture/{{ currentPage - 1 }}';"><</button>
    {% endif %}
    
    <div class="page-navigation-link">
        {% for page in pages %}
            {% if page.numero == currentPage %}
                <a href="{{ page.link }}" style="color: white;">{{ page.numero }}</a>        
            {% else %}
                <a href="{{ page.link }}" >{{ page.numero }}</a>
            {% endif %}
            
        {% endfor %}
    </div>
    {% if currentPage != pages|last.numero %}
        <button onclick="window.location.href='/import-picture/{{ currentPage + 1 }}';">></button>
    {% endif %}
    
</div>
{% endif %}