{% if pages %}
<div class="page-navigation">
    {% if currentPage != 1 %}
        <a class="button" href={{ baseLink }}{{ currentPage - 1 }}><</a>
    {% endif %}
    
    <div class="page-navigation-link">
        {% for page in pages %}
            {% if page.numero == currentPage %}
                <a class="link" href="{{ baseLink }}{{ page.numero }}" style="color: white;">{{ page.numero }}</a>        
            {% else %}
                <a class="link" href="{{ baseLink }}{{ page.numero }}" >{{ page.numero }}</a>
            {% endif %}
            
        {% endfor %}
    </div>
    {% if currentPage != pages|last.numero %}
        <a class="button" href={{ baseLink }}{{ currentPage + 1 }}>></a>
    {% endif %}
    
</div>
{% endif %}