{% if pages %}
<div class="page-navigation">
    {% if currentPage != 1 %}
        <button onclick="window.location.href='{{ baseLink }}{{ currentPage - 1 }}';"><</button>
    {% endif %}
    
    <div class="page-navigation-link">
        {% for page in pages %}
            {% if page.numero == currentPage %}
                <a href="{{ baseLink }}{{ page.numero }}" style="color: white;">{{ page.numero }}</a>        
            {% else %}
                <a href="{{ baseLink }}{{ page.numero }}" >{{ page.numero }}</a>
            {% endif %}
            
        {% endfor %}
    </div>
    {% if currentPage != pages|last.numero %}
        <button onclick="window.location.href='{{ baseLink }}{{ currentPage + 1 }}';">></button>
    {% endif %}
    
</div>
{% endif %}