{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

<a class="post-link" href={{ path("page", {pathTitle: page.getPathTitle}) }}>
    <div class="post-link-content">
        <img src={{ page.getThumbnail.getPath }} alt={{page.getHeaderImage.getAlt}}>
        <div>
            <p>{{ page.getTitle }}</p>
            <p>{{ page.getDescription }}</p>
        </div>
        <p>{{ page.getPublicationDate.getDate|date("d/m/Y")}}</p>
    </div>
    <div class="arrow">»</div>
</a>