<div class="post-link" onclick="window.location.href='{{ postLink}}';">
        <div class="post-link-content">
            <img src={{ postImage }}>
            <div>
                <p>{{ postTitle }}</p>
                <p>{{ postDescription }}</p>
            </div>
            <p>{{ postDate }}</p>
        </div>
        <div class="arrow">»</div>
    </div>