{% extends 'base.html.twig' %}

{% block title %}
PCThings | Edit your profile
{% endblock %}

{% block pageTitle %}
Edit your profile
{% endblock %}

{% block bgImage %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}
{% block bgImageAff %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}

{% block mainText %}
{% if app.user %}
<div>
    <p>You are logged in as {{ app.user.username }}, <a class="link" href="{{ path('app_logout') }}">Logout</a></p>
</div>
{% endif %}
{% for error in errors %}
    <div class="alert alert-form alert-danger">{{ error }}</div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-form alert-success">
        {{ message }}
    </div>
{% endfor %}


{{ form_start(form, { 'attr': {'class': 'editUserForm'} }) }}
{{ form_errors(form) }}

<div>
{% for child in form.children %}
    {% if child.vars.name != '_token' %}
        <div>
            {{ form_label(child) }}
            {{ form_widget(child) }}
        </div>
    {% endif %}
{% endfor %}
</div>
{{ form_end(form) }}

 {#{{ form(form, { 'attr': {'class': 'editUserForm'} }) }} #}
{% endblock %}