{% extends 'base.html.twig' %}

{% block title %}
PCThings | Blog
{% endblock %}

{% block pageTitle %}
Blog
{% endblock %}

{% block bgImage %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}
{% block bgImageAff %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}

{% block sideNav %}
<div class="font-medium font-bold">News</div>
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "My super last post"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "Read this"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "symfony goes brrrr"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{% endblock %}

{% block mainText %}
{{ include('template_fragment/_search.html.twig') }}
{{ include('template_fragment/_tag_filter.html.twig') }}

<div class="v-container all-width">
    {% if blogPostLinks|length > 0 %}
        {% for blogPostLink in blogPostLinks %}
            {{ include('template_fragment/_blog.html.twig', {blogPostLink: blogPostLink}) }}
        {% endfor %}
    {% else %}
        <p>Nothing to show here.</p>
    {% endif %}

    {#{{ include('template_fragment/_splitter.html.twig', {splitterText: "Yesterday"}) }}#}
</div>
{{ include('template_fragment/_search.html.twig') }}
{% endblock %}

{% block footer %}
<div class="v-container w-xl">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
</div>
<div class="v-container w-m">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
</div>
<div class="v-container w-m">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
{% endblock %}
