{% extends 'base.html.twig' %}

{% block title %}
PCThings | Pages
{% endblock %}

{% block pageTitle %}
Pages
{% endblock %}

{% block bgImage %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}
{% block bgImageAff %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}

{% block sideNav %}
<div class="font-medium font-bold">News</div>
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "My super last post"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "Read this"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "symfony goes brrrr"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{% endblock %}

{% block mainText %}
{{ include('template_fragment/_search.html.twig') }}
{{ include('template_fragment/_tag_filter.html.twig') }}

<div class="v-container all-width">
    {% if pages|length > 0 %}
        {% for page in pages %}
            {{ include('template_fragment/_post.html.twig', {'page': page}) }}
        {% endfor %}
    {% else %}
        <p>Nothing to show here.</p>
    {% endif %}
    
</div>
{{ include('template_fragment/_search.html.twig') }}
{% endblock %}
