{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ blogPost.getWriter.getDisplayedNickName }}'s Blog
{% endblock %}

{% block pageTitle %}
<a class="title-link" href="{{ path("user_blog", {username: blogPost.getWriter.getUsername, page: 1}) }}">{{ blogPost.getWriter.getDisplayedNickName }}'s Blog</a>
{% endblock %}
{% block return %}
<a class="link" href="{{ path("category_list", {name: blogPost.getCategory.getName}) }}">⇽ {{ blogPost.getCategory.getName }} category</a>
{% endblock %}

{% block bgImage %}
{{ asset(blogPost.getWriter.getBlogImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(blogPost.getWriter.getBlogImage.getPath)}}
{% endblock %}

{% block mainText %}
<div class="v-container all-width">
    {{ include('template_fragment/_blog_text.html.twig', {blogPost: blogPost}) }}
</div>
{% endblock %}
