{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ user.getDisplayedNickName }}'s Blog
{% endblock %}

{% block pageTitle %}
{{ user.getDisplayedNickName }}'s Blog
{% endblock %}
{% block return %}
<a class="link" href="{{ path("blog") }}">⇽ Blogs</a>
{% endblock %}

{% block bgImage %}
{{ asset(user.getBlogImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(user.getBlogImage.getPath)}}
{% endblock %}

{% block mainText %}
<div class="v-container all-width">
    {% for blogPost in blogPosts %}
        {{ include('template_fragment/_blog_text.html.twig', {blogPost: blogPost}) }}
    {% endfor %}
</div>
{{ include('template_fragment/_page_navigation.html.twig', {pages: nbPages, currentPage: currentPage, baseLink: baseLink}) }}
{% endblock %}
