{% extends 'base.html.twig' %}

{% block title %}
PCThings | Blog
{% endblock %}

{% block pageTitle %}
{{ user.getNickName }}'s Blog
{% endblock %}

{% block bgImage %}
{{ asset(user.getBlogImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(user.getBlogImage.getPath)}}
{% endblock %}

{% block sideNav %}
<div class="font-medium font-bold">News</div>
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "My super last post"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "Read this"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "symfony goes brrrr"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{% endblock %}

{% block mainText %}
<div class="v-container all-width">
    {% for blogPost in blogPosts %}
        {{ include('template_fragment/_blog_text.html.twig', {blogPost: blogPost}) }}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<div class="v-container w-xl">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
</div>
<div class="v-container w-m">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
</div>
<div class="v-container w-m">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
{% endblock %}
