{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ user.getDisplayedNickName }}'s Blog
{% endblock %}

{% block pageTitle %}
{{ user.getDisplayedNickName }}'s Blog
{% endblock %}
{% block return %}
<a class="link" href="{{ path("blog") }}">⇽ Blogs</a>
{% endblock %}

{% block bgImage %}
{{ asset(user.getBlogImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(user.getBlogImage.getPath)}}
{% endblock %}

{% block mainText %}
<div class="v-container all-width">
    {% for blogPost in blogPosts %}
        {{ include('template_fragment/_blog_text.html.twig', {blogPost: blogPost}) }}
    {% endfor %}
</div>
{{ include('template_fragment/_page_navigation.html.twig', {pages: nbPages, currentPage: currentPage, baseLink: baseLink}) }}
{% endblock %}
