<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset("/css/style.css") }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="{{ asset("images/logos/logo_pcthings_small.png") }}" />
		<script src="{{ asset("scripts/menus.js") }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		
        <nav id="navBar">
			<a href="/"><div id="website-title"><img src="{{ asset("images/logos/logo_pcthings.png")}}"/></div></a>
			<a class="button" href="/pages">Articles</a>
			<a class="button" href='/blog'>Blogs</a>
			<a class="button" href='/category'>Categories</a>
			<a class="button" href='/contact'>Contact</a>
			{% if is_granted('ROLE_IMPORT') %}
			<a class="button" href='/import-picture'>import picture</a>
			{% endif %}
			
			{% if app.user %}
			<a href="/modify-account"><img src={{ profil_pic_dir }}{{ asset(app.user.getProfilPic) }} onerror="this.src='/images/icons/no_pic_user.png'" class="profile-button" id="profile-button"></img></a>
			{% endif %}
			<button id="menu" onclick="OpenMenu()"><img src="{{ asset("images/icons/menu.png") }}"/></button>
		</nav>
		<div class="background-image" style='background: linear-gradient(transparent, var(--color-lighter)), url({% block bgImage %}{% endblock %}) no-repeat center; background-size: cover; background-position: center;'>
			<img src="{% block bgImageAff %}{% endblock %}" style="visibility: hidden;" />
		</div>
		<div class="h-container full-width wrap-reverse can-grow">
			<div class="v-container w-xs font-medium white border h-auto p-10 m-top-30 child-p-v-5 left-container">

				<div class="font-medium font-bold">Article's latest</div>
				{% for articles_latest_link in NewsPanel.ArticlesLatest %}
					{{ include('template_fragment/_side_nav_entry.html.twig', {link: "/pages/" ~ articles_latest_link.pathTitle, title:  articles_latest_link.title}) }}
				{% endfor %}

				<div class="font-medium font-bold">Blog's latest</div>
				{% for blogs_latest_link in NewsPanel.BlogsLatest %}
					{{ include('template_fragment/_side_nav_entry.html.twig', {link: "/blog/" ~ blogs_latest_link.username, title:  blogs_latest_link.title}) }}
				{% endfor %}

			</div>
			<div class="main_container">
				<div class="page-title">
					{% block pageTitle %}{% endblock %}
				</div>
				<div>{% block return %}{% endblock %}</div>
				<div class="main-text">
                    {% block mainText %}{% endblock %}
				</div>
			</div>
		</div>
		<footer>
			<div class="footer h-container all-width">
				<div class="v-container w-xl m-top-20">
					<div class="title">Navigation</div>
					<div><a href={{ path('index') }}>Main page</a></div>
					<div><a href={{ path('pages') }}>Articles</a></div>
					<div><a href={{ path('blog') }}>Blogs</a></div>
					<div><a href={{ path('category_index') }}>Categories</a></div>
					<div><a href={{ path('contact') }}>Contact</a></div>
				</div>
				<div class="v-container w-xl m-top-20">
					<div class="title">Creators</div>
					<div><a href="https://github.com/yoyozbi">Yohan Zbinden's GitHub</a></div>
					<div><a href="https://github.com/JolanAklin">Jolan Aklin's GitHub</a></div>
				</div>
				<div class="v-container all-width m-top-20">
					<div>Copyright 2021 Jolan Aklin and Yohan Zbinden</div>
					<div>This software is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, version 3 of the License.</div>
					<div>See the GitHub page for more infos</div>
					<div><a href="https://github.com/JolanAklin/website-pcthings/" target="_blank">PcThings' GitHub</a></div>
				</div>
			</div>
		</footer>
        
        {% block javascripts %}{% endblock %}
		<!-- Doc for the code highlighter https://highlightjs.org/ -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/default.min.css">
		<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
    </body>
</html>
