<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset("/css/style.css") }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="{{ asset("images/logos/logo_pcthings_small.png") }}" />
		<script src="{{ asset("scripts/menus.js") }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		
        <nav id="navBar">
			<div id="website-title" onclick="window.location.href='/';"><img src="{{ asset("images/logos/logo_pcthings.png")}}"/></div>
			<button onclick="window.location.href='/pages';">Articles</button>
			<button onclick="window.location.href='/blog';">Blogs</button>
			<button onclick="window.location.href='/category';">Categories</button>
			<button onclick="window.location.href='/contact';">Contact</button>
			{% if is_granted('ROLE_IMPORT') %}
			<button onclick="window.location.href='/import-picture';">import picture</button>
			{% endif %}
			
			{% if app.user %}
			<img src={{ profil_pic_dir }}{{ asset(app.user.getProfilPic) }} onerror="this.src='/images/icons/no_pic_user.png'" class="profile-button" id="profile-button" onclick="window.location.href='/modify-account';"></img>
			{% endif %}
			<button id="menu" onclick="OpenMenu()"><img src="{{ asset("images/icons/menu.png") }}"/></button>
		</nav>
		<div class="background-image" style='background: linear-gradient(transparent, var(--color-lighter)), url({% block bgImage %}{% endblock %}) no-repeat center; background-size: cover; background-position: center;'>
			<img src="{% block bgImageAff %}{% endblock %}" style="visibility: hidden;" />
		</div>
		<div class="h-container full-width wrap-reverse can-grow">
			<div class="v-container w-xs font-medium white border h-auto p-10 m-top-30 child-p-v-5 left-container">

				<div class="font-medium font-bold">Article's latest</div>
				{% for articles_latest_link in articles_latest %}
					{{ include('template_fragment/_side_nav_entry.html.twig', {link: "/pages/" ~ articles_latest_link.pathTitle, title:  articles_latest_link.title}) }}
				{% endfor %}

				<div class="font-medium font-bold">Blog's latest</div>
				{% for blogs_latest_link in blogs_latest %}
					{{ include('template_fragment/_side_nav_entry.html.twig', {link: "/blog/" ~ blogs_latest_link.username ~ "#" ~ blogs_latest_link.id, title:  blogs_latest_link.title}) }}
				{% endfor %}

			</div>
			<div class="main_container">
				<div class="page-title">
					{% block pageTitle %}{% endblock %}
				</div>
				<div>{% block return %}{% endblock %}</div>
				<div class="main-text">
                    {% block mainText %}{% endblock %}
				</div>
			</div>
		</div>
		<footer>
			<div class="h-container all-width">
				<div class="v-container w-xl">
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
				</div>
				<div class="v-container w-m">
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
				</div>
				<div class="v-container w-m">
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
					<div>hi</div>
				</div>
			</div>
		</footer>
        
        {% block javascripts %}{% endblock %}
	</body>
</html>
