{% set JSONDecoded = TwigHelper.JSONDecode(JSON) %}
{% for pageElement in JSONDecoded.pageContent %}
    {% if pageElement.Type == "h" %}
        <h1>{{ pageElement.Content }}</h1>

    {% elseif pageElement.Type == "h2" %}
        <h2>{{ pageElement.Content }}</h2>

    {% elseif pageElement.Type == "p" %}
        {% for p in TwigHelper.SplitText(TwigHelper.URLDecode(pageElement.Content)) %}
            <p>{{ TwigHelper.FormatText(p)|raw }}</p>
        {% endfor %}

    {% elseif pageElement.Type == "quote" %}
        <p class="quote" >
        {% set content = TwigHelper.SplitText(TwigHelper.URLDecode(pageElement.Content)) %}
        {% for key, quote in content %}
            {{ TwigHelper.FormatText(quote)|raw }}</br>
        {% endfor %}
        </p>

    {% elseif pageElement.Type == "code" %}
        <div class="code_container">
            <div>
            <div>{{ pageElement.Content[0].Title }}</div>
            <button>Copy</button>
            </div>
            <pre><code>{{ TwigHelper.URLDecode(pageElement.Content[1].Content) }}</code></pre>
        </div>
    {% endif %}
    
{% endfor %}