{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset("/css/page_creator.css") }}">{% endblock %}

{% block title %}
PCThings | Add Article
{% endblock %}

{% block pageTitle %}
Add Article
{% endblock %}

{% block bgImage %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}
{% block bgImageAff %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}

{% block mainText %}
<div class="h-container">
    {{ include('template_fragment/text_editor/_text_editor.html.twig', {form: form}) }}
</div>

{{ include('template_fragment/text_editor/_custom_text_formater_info.html.twig') }}
{% endblock %}
{% block javascripts %}
<script type="module" src="{{asset("/scripts/edit/main.js")}}"></script>
{% endblock %}