{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ page.getTitle }}
{% endblock %}

{% block pageTitle %}
{{ page.getTitle }}
{% endblock %}

{% block bgImage %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %} 

{% block mainText %}
<div class="h-container">
    <div class="edit">
        <div id="edit"></div>
        <div>
            <button id="AddTitle">Add a title</button>
            <button id="AddSection">Add a section</button>
        </div>
        <div>
            <button id="ToJson">To json</buttton>
            <button id="ToHtml">To html</button>
        </div>

</div>

<div class="preview">
<div id="result">
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module" src="{{asset("/scripts/edit/main.js")}}"></script>
{% endblock %}