{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset("/css/page_creator.css") }}">{% endblock %}

{% block title %}
PCThings | {{ page.getTitle }}
{% endblock %}

{% block pageTitle %}
{{ page.getTitle }}
{% endblock %}

{% block bgImage %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %}

{% block mainText %}
<div class="h-container">
    <a class="button-slicker" href={{ path('page', {pathTitle: page.pathTitle}) }}>See page</a>
    {{ include('template_fragment/text_editor/_text_editor.html.twig', {form: form}) }}
</div>

{{ include('template_fragment/text_editor/_custom_text_formater_info.html.twig') }}
{% endblock %}
{% block javascripts %}
<script type="module" src="{{asset("/scripts/edit/main.js")}}"></script>
<script src="{{asset("/scripts/edit/showPictureChangeEditArticle.js")}}"></script>
{% endblock %}