{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ page.getTitle }}
{% endblock %}

{% block pageTitle %}
{{ page.getTitle }}
{% endblock %}

{% block bgImage %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %} 

{% block mainText %}
<div class="info">
    <div class="writer">
        <img src="{{ page.getWriter.getProfilPic }}">
        <div>{{ page.getWriter.getUsername }}</div>
    </div>
    <div>Category: <a src="#">{{ page.getCategory.getName }}</a></div>
    <div>{{ page.getPublicationDate.getDate|date("d/m/Y") }}</div>
</div>
{% if app.user == page.getWriter %}
    <div class="edit-button"><a href="{{ "/pages/" ~ page.getPathTitle ~ "/edit"}}">Edit</a></div>
{% endif %}
{{ include('template_fragment/text_editor/_json_to_text.html.twig', {'JSON': page.getContent}) }}
{% endblock %}
