{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ page.getTitle }}
{% endblock %}

{% block pageTitle %}
{{ page.getTitle }}
{% endblock %}
{% block return %}
<a class="link" href="{{ path("pages") }}">⇽ Articles</a>
{% endblock %}

{% block bgImage %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %} 

{% block mainText %}
<div class="info">
    <div class="writer">
        <img src={{ profil_pic_dir }}{{ asset(page.getWriter.getProfilPic) }} onerror="this.src='/images/icons/no_pic_user.png'">
        <div>{{ page.getWriter.getDisplayedNickName }}</div>
    </div>
    <div>Category: <a class="link" href={{ path("category_list", {name: page.getCategory.getName}) }}>{{ page.getCategory.getName }}</a></div>
    <div>{{ page.getPublicationDate.getDate|date("d/m/Y") }}</div>
</div>
{% if app.user == page.getWriter %}
    <div><a class="button-slicker  m-top-30" href="{{ "/pages/" ~ page.getPathTitle ~ "/edit"}}">Edit</a></div>
{% endif %}
{{ include('template_fragment/text_editor/_json_to_text.html.twig', {'JSON': page.getContent}) }}
{% endblock %}
