{% extends 'base.html.twig' %}

{% block title %}
PCThings | {{ page.getTitle }}
{% endblock %}

{% block pageTitle %}
{{ page.getTitle }}
{% endblock %}

{% block bgImage %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %}
{% block bgImageAff %}
{{ asset(page.getHeaderImage.getPath)}}
{% endblock %} 

{% block sideNav %}
<div class="font-medium font-bold">News</div>
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "My super last post"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "Read this"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "symfony goes brrrr"}) }}
{{ include('template_fragment/_side_nav_entry.html.twig', {destination: "https://symfony.com/", linkName: "yaa"}) }}
{% endblock %}

{% block mainText %}
<div class="info">
    <div class="writer">
        <img src="{{ page.getWriter.getProfilPic }}">
        <div>{{ page.getWriter.getUsername }}</div>
    </div>
    <div>Category: <a src="#">{{ page.getCategory.getName }}</a></div>
    <div>{{ page.getPublicationDate.getDate|date("d/m/Y") }}</div>
</div>
{{ page.getContent|raw }}
{% endblock %}
